<%= render "common/errors", model: @opinion %>
<div>
  <%= form_for [@car, @opinion] do |f| %>
    <p>
      <%= f.label "Author" %>
      <%= f.text_field :author %>
    </p>

    <p>
      <%= f.label "Text" %>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit "New opinion", class: "btn" %>
    </p>

  <% end %>
</div>
