<%= render "common/errors", model: @reservation %>

<div>
  <%= form_for @reservation do |f| %>
    <p>
      <%= f.label "Name: " %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Surname: " %>
      <%= f.text_field :surname %>
    </p>
    <p>
      <%= f.label "E-mail: " %>
      <%= f.text_field :e_mail %>
    </p>
    <p>
      <%= f.label "Address: " %>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label "Phone number: " %>
      <%= f.text_field :phone_number %>
    </p>
    <p>
      <%= f.label "From: " %>
      <%= f.text_field :from_date , placeholder: "YYYY-MM-DD"%>
    </p>
    <p>
      <%= f.label "To: " %>
      <%= f.text_field :to_date, placeholder: "YYYY-MM-DD" %>
    </p>
    <p>
      <%= f.label "Car id: " %>
      <%= f.text_field :car_id %>
    </p>
    <p>
      <%= f.submit "New reservation", class: "btn" %>
    </p>

  <% end %>
</div>
