<p> <strong>Name</strong>
  <%= @reservation.name %>
</p>

<p> <strong>Surname</strong>
  <%= @reservation.surname %>
</p>

<p> <strong>E_mail</strong>
  <%= @reservation.e_mail %>
</p>

<p> <strong>Address</strong>
  <%= @reservation.address %>
</p>

<p> <strong>Phone number</strong>
  <%= @reservation.phone_number %>
</p>

<p> <strong>From</strong>
  <%= @reservation.from_date.strftime("%m - %d - %Y") %>
</p>

<p> <strong>To</strong>
  <%= @reservation.to_date.strftime("%m - %d - %Y") %>
</p>

<p> <strong>Car</strong>
  <%= @car.model %>
</p>
<% if admin_signed_in? %>
  <%= link_to "all reservations", reservations_path%>
  <%= link_to "Delete", reservation_path(@reservation),
                          method: :delete,
                          data: { confirm: "Are you sure?"} %>
    <%= link_to "Edit", edit_reservation_path%>
<% end %>
