<p> Name
  <%= @reservation.name %>
</p>

<p> Surname
  <%= @reservation.surname %>
</p>

<p> E_mail
  <%= @reservation.e_mail %>
</p>

<p> Address
  <%= @reservation.address %>
</p>

<p> Phone number
  <%= @reservation.phone_number %>
</p>

<p> From
  <%= @reservation.from_date %>
</p>

<p> To
  <%= @reservation.to_date %>
</p>

<p> Car
  <%= @car.model %>
</p>

<%= link_to "all reservations", reservations_path%>
<%= link_to "Delete", reservation_path(@reservation),
                          method: :delete,
                          data: { confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_reservation_path%>
