<p> Name
  <%= @reservation.name %>
</p>

<p> Surname
  <%= @reservation.surname %>
</p>

<p> E_mail
  <%= @reservation.e_mail %>
</p>

<p> Address
  <%= @reservation.address %>
</p>

<p> From
  <%= @reservation.from_date %>
</p>

<p> To
  <%= @reservation.to_date %>
</p>

<p> Car
  <%= @car.model %>
</p>
