<%= render "common/errors", model: @car %>
<div>
  <%= form_for @car do |f| %>
    <p>
      <%= f.label "Car brand" %>
      <%= f.text_field :brand %>
    </p>

    <p>
      <%= f.label "Model" %>
      <%= f.text_field :model %>
    </p>

    <p>
      <%= f.label "Year" %>
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label "Price for one day" %>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label "Description" %>
      <%= f.text_area :description %>
    </p>

    <div class="field">
    add an image....
    <%= f.file_field :image %>
  </div>

    <p>
      <%= f.submit "Add car", class: "btn" %>
    </p>

  <% end %>
</div>
