<h1> All Cars </h1>

<div>
  <%= form_tag "/search", method: "get" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search for..." %>
    <%= submit_tag "Search" %>
  <% end %>
  <%= link_to "Price: highest first", cars_path, method: :highest_first %>
  <%= link_to "Price: lowest first", cars_path, method: :lowest_first %>
</div>

<div class="row">
<% @cars.each do |car| %>

  <div class="col-sm-4">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <%= image_tag car.image.url, width: 250, class: "card-img-top" %>
        <h4 = class"card-title">
          <%= car.brand %>
          <%= car.model %>
        </h4>
        <p> <%= car.price %> $ per day </p>
        <%= link_to "more info", car_path(car), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
</div>

<% if admin_signed_in? %>
  <%= link_to "add new car", new_car_path  %>
  <%= link_to "all reservations", reservations_path %>
<% end %>
