<p> all available cars will be here </p>

<h2>Booking</h2>

<%= link_to "new reservation", new_reservation_path %>

<% @cars.each do |car| %>
<p>
  <%= car.brand %>
  <%= car.model %>
  <%= link_to "more info", car_path(car) %>
</p>
<% end %>

<%= link_to "add new car", new_car_path  %>
